@use "../../../constants/Colors.scss";
@use "../../../constants/Fonts.scss";

.container {
  display: flex;
  align-items: center;
  color: Colors.$primaryWhite;
  font-size: Fonts.$p;
  margin-left: 1.5rem;
}
