@use '../../../constants/Colors.scss';
@use '../../../constants/Fonts.scss';

$small: 450px;

.requestContainer {
  background-color: Colors.$primaryRed;
  width: 405px;
  height: 450px;
  border-radius: 2.5px;
  margin: 8px;
  box-shadow: 0px 4px 4px Colors.$primaryBlack;
  padding: 10px 35px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: Colors.$primaryWhite;

  .requestPicture {
    border-radius: 2.5px;
    height: 100%;
    width: 100%;
    position: relative;
  }

  .requestPrice {
    font-weight: 400;
    margin: 0;
    font-size: Fonts.$h1;
    align-self: flex-start;
  }

  .requestTitle {
    font-weight: 400;
    font-size: Fonts.$h1;
    margin: 0;
  }

  .requestAction {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
  }
  .cancelIcon {
    color: Colors.$primaryBlack;
    font-size: 70px;
    cursor: pointer;
  }
  .checkIcon {
    font-size: 70px;
    cursor: pointer;
  }

  @media screen and (max-width: 800px) {
    width: 250px;
    height: 300px;
    padding: 0.8rem;

    .requestPrice {
      font-weight: 400;
      margin: 0;
      font-size: Fonts.$p;
      align-self: flex-start;
    }

    .requestTitle {
      font-weight: 400;
      font-size: Fonts.$p;
      margin: 0;
    }

    .requestAction {
      gap: 1rem;
      width: fit-content;
      justify-content: center;
      width: 100%;
      height: 50%;
      margin-top: 0.5rem;
    }

    .checkIcon {
      font-size: 40px;
    }

    .cancelIcon {
      font-size: 40px;
      color: Colors.$primaryBlack;
    }
  }

  @media screen and (max-width: 600px) {
    width: 180px;
    height: 200px;
    padding: 10px;
    font-size: Fonts.$p;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;

    .requestPrice {
      font-weight: 400;
      margin: 0;
      font-size: Fonts.$h2;
      align-self: flex-start;
    }

    .requestTitle {
      font-weight: 400;
      font-size: Fonts.$h2;
      margin: 0;
    }

    .requestPicture {
      display: none;
      position: relative;
    }

    .requestAction {
      gap: 0;
      width: fit-content;
    }

    .checkIcon {
      font-size: 40px;
    }

    .cancelIcon {
      font-size: 40px;
      color: Colors.$primaryBlack;
    }
  }
}
