@use '../../../constants/Colors.scss';
@use '../../../constants/Fonts.scss';

.favIcon {
  display: flex;
  align-self: flex-end;
}

.cardContainer {
  background-color: Colors.$primaryRed;
  width: 390px;
  height: 450px;
  border-radius: 2.5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 0 35px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  color: Colors.$primaryWhite;

  .cardPicture {
    border-radius: 2.5px;
    height: 100%;
    width: 100%;
    max-height: 260px;
    position: relative;
  }
  .rentContainer {
    margin: 1rem 0;
  }

  .statusContainer {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
    * {
      margin: 0;
    }
  }

  .requestAction {
    gap: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .checkIcon {
    font-size: 60px;
  }

  .cancelIcon {
    font-size: 60px;
    color: Colors.$primaryBlack;
  }

  .cardDescription {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .cardPrice {
    margin: 0;
    align-self: flex-start;
  }

  .cardTitle {
    margin: 0;
  }

  .rentContainer {
    margin: 1rem 0;
  }

  @media screen and (max-width: 800px) {
    width: 250px;
    height: 300px;
    padding: 0.8rem;

    .rentContainer {
      height: 2rem;
      margin-bottom: 0.5rem;
    }

    .checkIcon {
      font-size: 40px;
    }

    .cancelIcon {
      font-size: 40px;
      color: Colors.$primaryBlack;
    }
  }
  @media screen and (max-width: 600px) {
    width: 180px;
    height: 200px;
    padding: 10px;
    p {
      margin: 0;
    }
    .rentContainer {
      margin: 0;
    }
    .favIcon {
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }
}

.available {
  color: green;
}

.notAvailable {
  color: red;
}

.test {
  user-select: none;
}
