@use 'src/constants/Fonts.scss';
@use 'src/constants/Colors.scss';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;

  .title {
    font-size: Fonts.$h1;
    color: Colors.$primaryWhite;
  }

  .formStyle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .button {
    margin-top: 1.5rem;
  }

  .link {
    color: Colors.$primaryRed;
    margin-top: 3rem;
    font-size: Fonts.$p;
  }
}
