@use 'src/constants/Fonts.scss';
@use 'src/constants/Colors.scss';

.container {
  display: flex;
  height: f;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;

  .title {
    font-size: Fonts.$h1;
    color: Colors.$primaryWhite;
  }

  .formStyle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .button {
    margin-bottom: 2rem;
  }

  .link {
    color: Colors.$primaryWhite;
    font-size: Fonts.$p;
  }

  .formHeader {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    align-items: center;
  }

  .goBack {
    position: absolute;
    left: 0;
    color: Colors.$primaryWhite;
    font-size: Fonts.$h1;
    cursor: pointer;
  }
}
