@use "src/constants/Colors.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;

  .title {
    color: Colors.$primaryWhite;
  }

  .formStyle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
<<<<<<< HEAD

  .button {
    margin-top: 1.5rem;
  }

  .link {
    color: Colors.$primaryRed;
    margin-top: 2rem;
  }
=======
>>>>>>> 0226ef7cd9b0fbc750a51c8448a77f133125f1b4
}
