@use '../../../constants/Colors.scss';
@use '../../../constants/Fonts.scss';

.footer {
  background-color: Colors.$secondaryBlack;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

.footer a {
  color: Colors.$primaryWhite;
  font-size: Fonts.$p;
}
