@use '../../../constants/Colors.scss';

.title {
  color: Colors.$primaryWhite;
  display: flex;
  justify-content: center;
  text-align: center;
  // background-color: Colors.$secondaryBlack;
  padding: 2rem;
}
