@use '../../../constants/Colors.scss';
@use '../../../constants/Fonts.scss';

.textField {
  .textFieldContent {
    background-color: Colors.$primaryWhite;
    border: 1px solid Colors.$inputBorderGray;
    border-radius: 8px;
    font-size: Fonts.$p;
    height: 160px;
    resize: none;
    width: 580px;
    max-width: 90vw;
    padding: 10px 10px;
  }
  .textFieldContent::placeholder {
    color: Colors.$primaryPlaceholderText;
  }
}
