@use "../../../constants/Colors.scss";

.textField {
  .textFieldContent {
    background-color: Colors.$primaryWhite;
    border: 1px solid Colors.$inputBorderGray;
    border-radius: 8px;
    font-size: 16px;
    height: 160px;
    resize: none;
    width: 90vw;
    padding: 0 10px;
  }
}

@media screen and (min-width: 700px) {
  .textField {
    .textFieldContent {
      width: 80vw;
    }
  }
}

@media screen and (min-width: 900px) {
  .textField {
    .textFieldContent {
      width: 55vw;
    }
  }
}

@media screen and (min-width: 1000px) {
  .textField {
    .textFieldContent {
      width: 35vw;
    }
  }
}
