@use 'src/constants/Colors.scss';
@use 'src/constants/Fonts.scss';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 1.5rem;
}

.filter {
  background-color: Colors.$primaryWhite;
  border-radius: 8px;
  border: 1px solid Colors.$inputBorderGray;
  width: 10rem;
  max-width: 90vw;
  height: 40px;
  padding: 0 10px;
  font-size: Fonts.$p;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
