@use '../../src/constants/Colors.scss';
@use '../../src/constants/Fonts.scss';

.productPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 85px);
  .productContainer {
    background-color: Colors.$secondaryBlack;
    min-height: 80%;
    width: 95%;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    color: Colors.$primaryWhite;
    padding-bottom: 2rem;

    .nav {
      align-items: center;
      display: flex;
      width: 100%;

      .icon {
        font-size: Fonts.$h1;
        color: Colors.$primaryWhite;
        cursor: pointer;
        margin: 1rem;
      }
    }

    .productContent {
      display: flex;
      height: 100%;
      width: 100%;
      flex-direction: row;
      align-items: center;

      .imageContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        .productImage {
          width: 80%;
          aspect-ratio: 3/2;
          position: relative;
        }
      }

      .aside {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        height: 100%;
        width: 50%;
        .rentForm {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
        }

        .productNav {
          margin-bottom: 1rem;
          h1 {
            margin-top: 0;
          }
        }

        .textContainer {
          margin-bottom: 1rem;
          width: 80%;

          .text {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;

            .title {
              font-size: Fonts.$p;
            }
            .data {
              font-size: Fonts.$h2;
            }
          }

          .desc {
            min-height: 16.05rem;
          }

          .link {
            display: flex;
            flex-direction: column;
            gap: 0.2rem;
            cursor: pointer;

            .icon {
              font-size: Fonts.$h1;
            }
            .text {
              display: flex;
              align-items: center;

              .title {
                font-size: Fonts.$p;
                margin-bottom: 0;
              }
              .data {
                font-size: Fonts.$h2;
                display: flex;
                align-items: center;
                gap: 0.2rem;
                margin-bottom: 0;
              }
            }
            p {
              margin-top: 0;
              cursor: pointer;
              color: gray;
              text-decoration: underline;
            }
          }
          .submit {
            margin-top: 2rem;
          }
        }
      }
    }
  }

  @media (max-width: 1200px) {
    .productContainer {
      .productContent {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        .aside {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: 100%;
          width: 100%;
          .productNav {
            text-align: center;
          }
        }
      }
    }
  }
}
