@use "../../src/constants/Colors.scss";

.productPage {
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  color: Colors.$primaryWhite;
  gap: 1rem;

  .productCard {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: Colors.$primaryRed;
    box-shadow: 0px 4px 4px Colors.$primaryBlack;
    border-radius: 3.5px;

    .imageSection {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 90%;
      .productImage {
        width: 100%;
        aspect-ratio: 3/2;
      }
    }
    .textSection {
      width: 90%;
      .productDesc {
        font-size: 16px;
      }
      .descHeader {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        h2 {
          font-size: 16px;
        }
      }
    }
  }

  @media screen and (min-width: 800px) {
    gap: 3rem;
    .productCard {
      .textSection {
        .productDesc {
          font-size: 20px;
        }
        .descHeader {
          h2 {
            font-size: 24px;
          }
        }
      }
    }
  }
  @media screen and (min-width: 1200px) {
    justify-content: center;
    .productCard {
      flex-direction: row;
      gap: 10vw;
      background: none;
      width: 85%;
      transition: .3s;
      .imageSection {
        .productTitle {
          align-self: flex-start;
        }
        .productImage {
          border-radius: 5px;
        }
      }
    }
    .buttonSection {
      width: 50%;
      display: flex;
     justify-content: center;
      align-self: flex-end;
    }
  }
}
