@use "../../../constants/Colors.scss";
.primbtn {
  color: Colors.$primaryWhite;
  font-weight: 400;
  font-size: 16px;
  border-radius: 10rem;
  background-color: Colors.$primaryRed;
  border: none;
  box-shadow: 1px 1px 3px Colors.$primaryBlack;
  width: 340px;
  max-width: 70vw;
  height: 50px;
  transition: .5s;
  &:hover {
    background-color: 1px 1px 3px Colors.$primaryBlack;
    box-shadow: none; 
    opacity: .8;
  cursor: pointer;

  }
}
