@use '../../../constants/Colors.scss';
@use '../../../constants/Fonts.scss';

.primbtn {
  color: Colors.$primaryWhite;
  font-weight: 400;
  font-size: Fonts.$p;
  border-radius: 10rem;
  background-color: Colors.$primaryRed;
  border: none;
  box-shadow: 1px 1px 3px Colors.$primaryBlack;
  width: 340px;
  max-width: 70vw;
  height: 50px;
  transition: 0.5s;
  &:hover {
    background-color: 1px 1px 3px Colors.$primaryBlack;
    box-shadow: none;
    opacity: 0.8;
    cursor: pointer;
  }
}
