@use "src/constants/Fonts.scss";
@use "src/constants/Colors.scss";

.container{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    .title {
        font: Fonts.$h1;
        color: Colors.$primaryWhite;
    }

    .formStyle {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
    }
}