@use 'src/constants/Colors.scss';
@use 'src/constants/Fonts.scss';

.wallpaper {
  width: 100%;
  height: 100px;
  background-color: Colors.$primaryRed;
  display: flex;
  align-items: center;
  justify-content: center;

  .title {
    font-size: Fonts.$h1;
    color: Colors.$primaryWhite;
    margin: 0;
  }
}

.profileInfo {
  background: linear-gradient(
    to bottom,
    #a43b3b 0%,
    #a43b3b 50%,
    #333333 50%,
    #333333 50%,
    #333333 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  .title {
    font-size: Fonts.$h1;
    color: Colors.$primaryWhite;
    margin: 0;
    margin-top: 1rem;
  }

  .imgContainer {
    display: flex;
    justify-content: center;

    .img {
      position: static;
      border-radius: 100%;
      border: white solid 5px;
      cursor: pointer;
    }
  }
}

.navContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;

  .link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 1rem;
    width: 335px;
    margin-bottom: 0.5rem;

    .text {
      color: Colors.$primaryWhite;
      font-size: Fonts.$h3;
      margin-right: 0.5rem;
    }
  }
}

.productContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2.5em;

  .productGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 1500px) {
    .productGrid {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

.test {
  height: 100%;
  width: 100vw;
  // z-index: 4;
  .form {
    z-index: 5;
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: fit-content;
    color: Colors.$primaryWhite;
    background-color: Colors.$primaryBlack;
    border-radius: 2.5px;
    padding: 2rem;
    h1 {
      margin: 0;
    }
  }
}
