@use 'src/constants/Colors.scss';
@use 'src/constants/Fonts.scss';

.content {
    background-color: Colors.$primaryBlack;
    .form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      gap: 2rem;
      padding: 2rem;
      color: Colors.$primaryWhite;
      z-index: 50;
      @media screen and (max-width: 500px) {
        padding: 1rem;
      }
      h1 {
        margin: 0;
      }
    }
  }
  