@use 'src/constants/Colors.scss';

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.productContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  flex-grow: 1;
  // flex-direction: column;
  // background-color: cornflowerblue;
  // width: 67vw;

  .productGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  @media (min-width: 1500px) {
    .productGrid {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

.navigationLink {
  display: flex;
  align-items: center;
  justify-content: center;
}

.freeOfChargeContainer {
  display: flex;
}

.freeText {
  color: Colors.$primaryWhite;
  margin-right: 0.5rem;
}

.freeInput:checked {
  background-color: red;
  accent-color: Colors.$primaryRed;
}

.filterNav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  width: 62%;
  margin: auto;

  .flexContainer {
    display: flex;
  }

  .filterAndTextContainer {
    margin-right: 1rem;
  }
}

@media screen and (max-width: 1000px) {
  .filterNav {
    flex-direction: column;
    align-items: center;
  }
}

.iconColor {
  color: Colors.$primaryWhite;
  cursor: pointer;
}

#AddbtnLarge {
  color: Colors.$primaryRed;
  font-size: 50px;
  cursor: pointer;
}
