@use 'src/constants/Fonts.scss';
@use 'src/constants/Colors.scss';

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .newItemHeader {
    display: flex;
    position: relative;
    width: 90%;
    max-width: 580px;
    justify-content: center;
    align-items: center;
    .goBack {
      position: absolute;
      left: 0;
      font-size: 50px;
      cursor: pointer;
      color: Colors.$primaryWhite;
    }
    .title {
      font-size: Fonts.$h1;
      color: Colors.$primaryWhite;
    }
  }

  .formStyle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  }

  .filter {
    background-color: Colors.$primaryWhite;
    border-radius: 8px;
    border: 1px solid Colors.$inputBorderGray;
    width: 580px;
    max-width: 90vw;
    height: 50px;
    padding: 0 10px;
    font-size: Fonts.$p;
  }
}
