@use '../../../../constants/Colors.scss';
@use '../../../../constants/Fonts.scss';

.skeletonContainer {
  background-color: Colors.$primaryRed;
  width: 390px;
  height: 450px;
  border-radius: 2.5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 0 35px 35px 35px;
  display: flex;
  animation: skeletonAnimation 2s ease-in-out infinite;
  justify-content: center;

  & > .content {
    border-radius: 2.5px;
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    background-color: rgba(51, 51, 51, 0.473);
  }

  @media screen and (max-width: 800px) {
    width: 250px;
    height: 300px;
    padding: 0.8rem;
  }
  @media screen and (max-width: 600px) {
    width: 180px;
    height: 200px;
    padding: 10px;
  }
}

@keyframes skeletonAnimation {
  0% {
    transform: scale(1.008);
  }

  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.008);
  }
}
