@use '../../../constants/Colors.scss';
.Addbtn {
  color: Colors.$primaryRed;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}

.AddbtnLarge {
  color: Colors.$primaryRed;
  height: 4rem;
  width: 4rem;
  cursor: pointer;
}
